<html layout:decorate="~{global/layout}">

<div layout:fragment="content" style="height: 820px;" class="container my-5">
    <div class="row" style="height: 40%">
        <div class="col">
            <div class="card my-1 mx-1" style="height: 90%">
                <div class="card-body">
                    <h5 class="card-title">Clouds</h5>
                    <table class="table">
                        <thead>
                        <tr>
                            <td class="font-weight-bold">CLOUD NAME</td>
                            <td class="font-weight-bold">ID</td>
                            <td class="font-weight-bold">COSTS</td>
                            <td class="font-weight-bold">UTILIZATION</td>
                        </tr>
                        </thead>
                        <tbody th:each="vpcCost : ${vpcCostList}">
                        <tr>
                            <!--                            <td th:text="${vpcCost.name}"></td>-->
                            <!--                            <td th:text="${vpcCost.vpcId}"></td>-->
                            <!--                            <td th:text="${#numbers.formatInteger(vpcCost.cost, 0, 'COMMA')}"></td>-->
                            <!--                            <td th:text="|${vpcCost.utilization}%|"></td>-->
                            <td th:text="${vpcCost.date}"></td>
                            <td th:text="${vpcCost.totalCost}"></td>
                            <!--                            <td th:text="${#numbers.formatInteger(vpcCost.cost, 0, 'COMMA')}"></td>-->
                            <td th:text="|${vpcCost.totalUtilization}%|"></td>
                            <td th:text="|${vpcCost.totalUtilization}%|"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="height: 60%">
        <div class="col w-100">
            <div class="card my-1 mx-1" style="height: 100%">
                <div class="card-body">
                    <button>
                        <a th:href="@{/cost/visualization/region}">리전별</a>
                    </button>
                    <div id="infra"></div>
                    <script src="https://d3js.org/d3.v6.min.js"></script>
                    <script>
                        const margin = {top: 10, right: 30, bottom: 20, left: 50},
                            width = 920 - margin.left - margin.right,
                            height = 400 - margin.top - margin.bottom;

                        const svg = d3.select("#infra")
                            .append("svg")
                            .attr("width", width + margin.left + margin.right)
                            .attr("height", height + margin.top + margin.bottom)
                            .append("g")
                            .attr("transform", `translate(${margin.left},${margin.top})`);

                        d3.json("/cost/result").then(function (data) {
                            const subgroups = data[0].costDtoList.map(d => (d.instanceName))

                            const chartData = [];
                            data.forEach(d => {
                                const tempData = {};
                                d.costDtoList.forEach((dd) => {
                                    tempData[dd.instanceName] = dd.cost;
                                })
                                tempData["date"] = d.date.substring(8);
                                chartData.push(tempData);
                            })

                            const groups = chartData.map(d => (d.date))

                            const x = d3.scaleBand()
                                .domain(groups)
                                .range([0, width])
                                .padding([0.2])
                            svg.append("g")
                                .attr("transform", `translate(0, ${height})`)
                                .call(d3.axisBottom(x).tickSizeOuter(0));

                            const y = d3.scaleLinear()
                                .domain([0, d3.max(data, function (d) {
                                    return d.totalCost
                                }) + 5])
                                .range([height, 0]);
                            svg.append("g")
                                .call(d3.axisLeft(y).tickFormat((d) => {
                                    return d + " $"
                                }));

                            const color = d3.scaleOrdinal()
                                .domain(subgroups)
                                .range(["#6646C9", "#5BACA1", "#EC7A66", "#F7DC42", "#963054", "#6CC75E"])

                            const tooltip = d3.select("#infra")
                                .append("div")
                                .style("opacity", 0)
                                .attr("class", "tooltip")
                                .style("background-color", "white")
                                .style("border", "solid")
                                .style("border-width", "1px")
                                .style("border-radius", "5px")
                                .style("padding", "10px")

                            const mouseover = function (event, d) {
                                const subgroupName = d3.select(this.parentNode).datum().key;
                                const subgroupValue = d.data[subgroupName];
                                tooltip
                                    .html("종류: " + subgroupName + "<br>" + "비용: " + Math.ceil(subgroupValue * 100) / 100 + "$")
                                    .style("opacity", 1)
                            }
                            const mousemove = function (event, d) {
                                tooltip.style("transform", "translateY(-55%)")
                                    .style("left", (event.x) / 2 + "px")
                                    .style("top", (event.y) / 2 - 30 + "px")
                            }
                            const mouseleave = function (event, d) {
                                tooltip
                                    .style("opacity", 0)
                            }

                            const stackedData = d3.stack()
                                .keys(subgroups)
                                (chartData)

                            svg.append("g")
                                .selectAll("g")
                                .data(stackedData)
                                .join("g")
                                .attr("fill", d => color(d.key))

                                .selectAll("rect")
                                .data(d => d)
                                .join("rect")
                                .attr("x", d => x(d.data.date))
                                .attr("y", d => y(d[1]))
                                .attr("height", d => y(d[0]) - y(d[1]))
                                .attr("width", x.bandwidth())
                                .on("mouseover", mouseover)
                                .on("mousemove", mousemove)
                                .on("mouseleave", mouseleave)
                        })

                        const svg2 = d3.select("#infra")
                            .append("svg")
                            .attr("width", width + margin.left + margin.right)
                            .attr("height", 100 + margin.top + margin.bottom)
                            .append("g")
                            .attr("transform", `translate(${margin.left},${margin.top})`);

                        svg2.append("circle").attr("cx", 0).attr("cy", 10).attr("r", 6).style("fill", "#5BACA1")
                        svg2.append("circle").attr("cx", 120).attr("cy", 10).attr("r", 6).style("fill", "#EC7A66")
                        svg2.append("circle").attr("cx", 0).attr("cy", 30).attr("r", 6).style("fill", "#6646C9")
                        svg2.append("circle").attr("cx", 300).attr("cy", 30).attr("r", 6).style("fill", "#F7DC42")
                        svg2.append("circle").attr("cx", 0).attr("cy", 50).attr("r", 6).style("fill", "#963054")
                        svg2.append("circle").attr("cx", 180).attr("cy", 50).attr("r", 6).style("fill", "#6CC75E")

                        svg2.append("text").attr("x", 20).attr("y", 10).text("EC2 - Other").style("font-size", "15px").attr("alignment-baseline", "middle")
                        svg2.append("text").attr("x", 140).attr("y", 10).text("Amazon Elastic Compute Cloud - Compute").style("font-size", "15px").attr("alignment-baseline", "middle")
                        svg2.append("text").attr("x", 20).attr("y", 30).text("Amazon Relational Database Service").style("font-size", "15px").attr("alignment-baseline", "middle")
                        svg2.append("text").attr("x", 320).attr("y", 30).text("Amazon Simple Storage Service").style("font-size", "15px").attr("alignment-baseline", "middle")
                        svg2.append("text").attr("x", 20).attr("y", 50).text("Amazon Route 53").style("font-size", "15px").attr("alignment-baseline", "middle")
                        svg2.append("text").attr("x", 200).attr("y", 50).text("Tax").style("font-size", "15px").attr("alignment-baseline", "middle")
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
</html>