<html layout:decorate="~{global/layout}">

<div layout:fragment="content" style="height: 820px;" class="container my-5">
    <div class="row" style="height: 40%">
        <div class="col w-50">
            <div class="card my-1 mx-1" style="height: 90%">
                <div class="card-body">
                    <h5 class="card-title">Clouds</h5>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">CLOUD NAME</th>
                            <th scope="col">ID</th>
                        </tr>
                        </thead>
                        <tbody th:each="vpc : ${vpcs}">
                            <tr>
                                <td><a th:text="${vpc.name}" th:href="@{|/infra/visualization?vpcId=${vpc.vpcId}|}"></a></td>
                                <td><a th:text="${vpc.vpcId}" th:href="@{|/infra/visualization?vpcId=${vpc.vpcId}|}"></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col w-50">
            <div class="card my-1 mx-1" style="height: 90%">
                <div class="card-body">
                    <h5 class="card-title">Details</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
    </div>
    <body class="row" style="height: 60%" onload="render()">
        <div class="col w-100">
            <div class="card my-1 mx-1" style="height: 100%">
                <div class="card-body">
                    <button type="button" class="button--refresh" onclick="render()">
                        <i class="fas fa-spinner"></i>
                    </button>
                    <div class="content">
                        <svg width="960" height="960"></svg>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script
            src="https://kit.fontawesome.com/b98b5bbdbb.js"
            crossorigin="anonymous"
    ></script>
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script
            type="text/javascript"
            src="/js/d3/make_circle.js"
    ></script>
    <script
        type="text/javascript"
        src="/js/d3/btn.js"
    ></script>
</div>
</html>